<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/about.css">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-content">
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li class="dropdown" id="blogDropdown">
                    <a href="#" class="dropbtn" onclick="toggleDropdown('blogDropdown')">Blog</a>
                    <div class="dropdown-content" id="blogDropdownContent">
                        <div class="dropdown-item">
                            <a href="#" class="sub-dropbtn" onclick="toggleDropdown('DDCETDropdown')">DDCET</a>
                            <div class="sub-dropdown-content" id="DDCETDropdownContent">
                                <a href="blog/1713673342653517345">Physics</a>
                                <a href="/blog/1713675337073663501">Soft skills</a>
                                <a href="/public/assets/images/maths.png">Maths</a>
                                <a href="/public/assets/images/environmental_science.png">Environmental Science</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </div>
        
        <div class="container">
            <div class="custom-dropdown">
                <button onclick="toggleDropdown_p()" class="custom-dropbtn"><img src="/public/assets/images/profile.png" alt=""></button>
                <div id="customDropdownContent" class="custom-dropdown-content">
                <p><b>Username:</b> <span id="customUsername"></span></p>
                <p><b>Email:</b> <span id="customEmail"></span></p>
                <div class="btn">
                    <button id="customLogoutBtn">Logout &nbsp;<i class="fa-solid fa-right-from-bracket"></i></button>
                </div>
                </div>
            </div>
        </div>

    </header>

    <script src="/js/dashboard.js"></script>
    <div class="login_logo">
        <img src="/public/assets/images/logo_Note.png" alt="" width="105" height="105">
    </div> 
    <script>
        function WriteBlog() {
            window.location.href = "/editor";
        }
        function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId + "Content");
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }
    </script>
    <div class="hero">
        <div class="heading">
            <h1>About Us</h1>
            <p>Welcome to '<b>SMART NOTES</b>' Introducing our innovative platform, Smart Notes, a dynamic space designed to revolutionize the way you organize, share, and interact with your digital notes and blogs. In today's fast-paced world, information is abundant and often overwhelming. Smart Notes aims to simplify this experience by providing a user-friendly interface coupled with powerful features to streamline your note-taking and blogging process. </p>
        </div>
    
        <div class="container1">
            <section class="about">
                <div class="about-image">
                    <img src="/public/assets/images/note.jpeg">
                </div>
                <div class="about-contant">
                    <h2>Smart Notes</h2>
                    <p>Thank you for choosing '<b>SMART NOTES</b>' as your Notes provider. 
                        At the heart of Smart Notes lies its versatile note-taking functionality, enabling users to effortlessly create, edit, and organize notes with ease. Whether jotting down ideas, drafting blog posts, or taking meeting minutes, Smart Notes offers a seamless platform to capture and structure thoughts.</p>
                        <a href="" class="read-more">Read More</a>
                </div>
            </section>
        </div>
    </div>
</body>
</html>