<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link rel="stylesheet" href="/css/feedback.css"> -->
    <!-- Fontawesome CDN Link -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> -->
    <!-- <div class="body3">
    <div class="feedback_container">
        <div class="feedback_forms">
            <div class="feedback-form-content">

                <div class="feedback-form">
                    
                    <div class="feedback_title">Feedback</div>
                    <form action="#">
                        <div class="feedback_input-boxes">
                            
                            <div class="feedback_input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="Enter your email" required>
                            </div>

                            <div class="feedback_input-box">
                                <i class="fas fa-solid fa-window-restore"></i>
                                <input type="text" placeholder="Subject" required>
                            </div>

                            <textarea type="text" class="textarea-field" placeholder="Your Message"></textarea>

                            <div class="button feedback_input-box">
                                <input type="button" value="Submit" onclick="submitFeedback()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <script src="/js/feedback.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="/css/feedback.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="body3">
    <div class="feedback_container">
        <div class="feedback_forms">
            <div class="feedback-form-content">

                <div class="feedback-form">

                    <div class="feedback_title">Feedback</div>
                    <form id="feedbackForm">
                        <div class="feedback_input-boxes">

                            <div class="feedback_input-box">
                                <i class="fas fa-envelope"></i>
                                <input id="email" type="email" placeholder="Enter your email" required>
                            </div>

                            <div class="feedback_input-box">
                                <i class="fas fa-solid fa-window-restore"></i>
                                <input id="subject" type="text" placeholder="Subject" required>
                            </div>

                            <textarea id="message" class="textarea-field" placeholder="Your Message"></textarea>

                            <div class="button feedback_input-box">
                                <input type="button" value="Submit" onclick="submitFeedback()">
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/feedback.js"></script>
</body>
</html>
