<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Signup </title>
    <!-- <link rel="stylesheet" href="..\..\css\forget_password2.css"> -->
    <link rel="stylesheet" href="/css/forget_password2.css">

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script>
        function forgetPass() {
            window.location.href = "login.html";
        }
    </script> -->
   </head>
<body>
    <div class="forget_password_container">
        <div class="forget_password_forms">
            <div class="forget_password-form-content">

                <div class="forget_password-form">
                    
                    <div class="forget_password_title">Forget Password</div>
                    <form action="#">
                        <div class="forget_password_input-boxes">

                            <div class="forget_password_input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" id="password" placeholder="Enter your password" required>
                            </div>
                            <div class="forget_password_input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" id="confirmPassword" placeholder="Enter your confirm password" required>
                            </div>
                            <div class="button forget_password_input-box">
                                <input type="submit" value="Forget Password" onclick="forgetPassword(event)">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="forget_password_logo">
        <img src="/public/assets/images/logo_Note.png" alt="" width="130" height="130">
    </div>

    <script src="/js/forget_password2.js"></script>

</body>
</html>