<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Verification </title>
    <!-- <link rel="stylesheet" href="..\..\css\forget_password1.css"> -->
    <link rel="stylesheet" href="/css/forget_password1.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script>
        function verifyOTP() {
            window.location.href = "forget_password2.html";
        }
    </script> -->
   </head>
<body>
    <div class="verifyotp_container">
        <div class="verifyotp_forms">
            <div class="verifyotp-form-content">

                <div class="verifyotp-form">

                    <div class="verifyotp_title">Verification</div>
                    <form action="#">
                        <div class="verifyotp_input-boxes">

                            <div class="verifyotp_input-box">
                                <i class="fas fa-key"></i>
                                <input type="number" id="otp" placeholder="Enter verification code" required>
                            </div>
                            <div class="button verifyotp_input-box">
                                <input type="submit" value="Verify OTP" onclick="verifyOTP(event)">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="verifyotp_logo">
        <img src="/public/assets/images/logo_Note.png" alt="" width="130" height="130">
    </div>

    <!-- <script src="..\..\js\forget_password1.js"></script> -->

    <script src="/js/forget_password1.js"></script>
    
</body>
</html>